:root {
  --primary-color: #ffae00;
  --secondary-color: #f2f2f2;
  --primary-text-color: #000;
  --secondary-text-color: #4832dc;
  --primary-gray: #858585;
  --secondary-gray: #aaa;
  --primary-button-color: #2765c8;
  --secondary-button-color: #37d679;
  --bg-color: #fff;
}
